@import "tailwindcss";

/* Global css mentioned here. */
body {
    font-family: "TASA Orbiter", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: var(--color-secondary); */
    background-color: white;
}

/* // <weight>: Use a value from 400 to 800
// <uniquifier>: Use a unique and descriptive class name */
.tasa-orbiter {
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Second font  */
/* <weight>: Use a value from 400 to 700 */
/* <uniquifier>: Use a unique and descriptive class name */
.font-domine {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* This can be vary */
  font-style: normal;
}


/* // <weight>: Use a value from 400 to 900 */
/* // <uniquifier>: Use a unique and descriptive class name */
.font-orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300; 
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* css variables :  */
:root {
    --color-primary: #030611;
    --color-secondary: #050b16;
    --color-accent: #FBBF24;
    --color-button-background : #6b26d9;
    --color-background: #F9FAFB;
    --color-text: #111827;
}